
.navbar {
  width: 100%;
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.nav-links {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  color: #b64a37;
  transition: 0.5s;
  border-bottom: 1px solid #fff;
}

.nav-links:hover {
  opacity: 0.7;
  border-bottom: 1px solid #b64a37;
}

.login-btn {
  background-color: #f8e5e2;
  border-radius: 6px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border-bottom-color: #b64a37;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  color: #b64a37;
  transition: 0.7s;
  
}

.login-btn:hover {
  
  background-color: #ee6969;
  color: #fff;
}


.lista-links {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.lista-links-responsive {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  font-size: 2.4rem;
  margin-top: 7rem;
  
}

.nav-logo {
  width: 12rem;
  margin-left: 2rem;
}

.hamb-menu-open {
  position: absolute;
  right: 2rem;
  top: 2rem;
  
}

.hamb-menu-open, .hamb-menu-close {
  background-color: #fff;
  width: 4rem;
  display: none;
}

.navbar-responsive {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  
  
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}




@media screen and (max-width: 768px) {
  .lista-links {
    display: none;
  }

  .hamb-menu-close, .hamb-menu-open {
    display: block;
    

  }

  .nav-links {
    font-size: 2.4rem;
  }

  .nav-logo {
    width: 16rem;
  }

  .login-btn {
    font-size: 2.4rem;
  }
}